.git
.github
.meteor/local
packages/*/.build*
packages/*/.npm*
node_modules
scripts
docs
.claude
.serena
.idea
.cfignore
.codeclimate.yml
.eslintignore
.eslintrc
.travis.yml
app.json
HISTORY.MD
README.md
manifest.yml.sample
ROADMAP.MD
Dockerfile
.dockerignore
